.header {
  padding: 32px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  color: $black;
  text-decoration: none;
  transition: $hover-focus-transition;
}

.header__tel:hover {
  color: $yellow;
}

.header__logo {
  width: 137px;
  height: 48px;
  margin-right: 27px;
}

.header__logo img {
  width: 137px;
  height: 48px;
}

.header__callback {
  margin-top: 5px;
  margin-right: 4px;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dashed $black;
  transition: $hover-focus-transition;
}

.header__callback:hover {
  color: $yellow;
  border-color: $yellow;
}

@media (max-width: $mobile-width) {
  .header {
    padding-top: 21px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .header__container {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 7px;
  }

  .header__logo {
    position: absolute;
    top: -1px;
    left: 16px;
    width: 120px;
    height: 42px;
    margin-bottom: -16px;
  }

  .header__logo img {
    width: 120px;
    height: 42px;
  }

  .header__callback {
    margin-top: 10px;
    margin-right: 1px;
    font-size: 13px;
    letter-spacing: normal;
  }
}
