.header {
  position: absolute;
  width: 100%;
  padding: 32px 0;
  font-weight: 500;
  font-size: 15px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  color: #000000;
  text-decoration: none;
}

.header__tel:hover {
  color: #ffc341;
}

.header__callback {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dashed #000000;
}

.header__callback:hover {
  color: #ffc341;
  border-color: #ffc341;
}
