.hero {
  padding-top: 538px;
  padding-bottom: 146px;
}

.hero__description {
  width: 350px;
  margin: 0 auto 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}

.hero__scroll-indicator {
  position: relative;
  display: block;
  width: 76px;
  height: 76px;
  margin: 0 auto calc(131px - 76px);
  background-image: url("../../img/dashed-round.svg");
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: top center;
}

.hero__scroll-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin-top: -27px;
  margin-left: -27px;
  background-image: url("../../img/icon-mouse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px 26px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.hero__scroll-indicator::after {
  content: "";
  position: absolute;
  top: 76px;
  left: 50%;
  width: 1px;
  height: 55px;
  background-color: #ffffff;
}
