.index-page {
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1360px) {
  .index-page {
    background-position: center top;
  }
}

@media (min-width: 1360px) {
  .index-page {
    background-size: 100%;
  }
}

@media (min-width: $from-tablet-width) {
  .index-page {
    background-image: url("../img/bg-hero.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .index-page {
      background-image: url("../img/bg-hero@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .index-page {
    background-image: url("../img/bg-hero-small.jpg");
    background-size: 912px auto;
    background-position: center 33px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .index-page {
      background-image: url("../img/bg-hero-small@2x.jpg");
    }
  }
}
