.input {
  position: relative;
  margin-bottom: 28px;
}

.input input {
  width: 100%;
  padding: 13px 40px 14px;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba($black, 0.87);
  border: 2px solid $gray;
  border-radius: 80px;
  background-clip: padding-box;
  box-sizing: border-box;
  transition: $hover-focus-transition;
}

.input input::placeholder {
  color: rgba($black, 0.5);
}

.input input:not(:placeholder-shown):not(:focus):valid {
  border-color: rgba($black, 0.5);
}

.input input:not(:placeholder-shown):invalid {
  border-color: rgba($red, 0.5);
}

.input input:focus,
.input input:not(:invalid):hover,
.input input:placeholder-shown:hover {
  outline: none;
  border-color: transparent;
}

.input input:focus ~ label::before,
.input input:hover ~ label::before {
  opacity: 1;
}

.input label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.input label::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background-image: $yellow-gradient;
  opacity: 0;
  transition: $hover-focus-transition;
}

.input__error {
  position: absolute;
  top: 100%;
  left: 24px;
  font-size: 13px;
  line-height: 1.5;
  color: $red;
}
