@font-face {
  font-family: "Fira Sans";
  src:
    url("../../fonts/fira-sans-400.woff2") format("woff2"),
    url("../../fonts/fira-sans-400.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src:
    url("../../fonts/fira-sans-500.woff2") format("woff2"),
    url("../../fonts/fira-sans-500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src:
    url("../../fonts/fira-sans-700.woff2") format("woff2"),
    url("../../fonts/fira-sans-700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
