html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-size: 17px;
  line-height: 1.7;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: $black;
  background-color: #ffffff;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1360px) {
  body {
    background-position: center top;
  }
}

@media (min-width: 1360px) {
  body {
    background-size: 100%;
  }
}

@media (min-width: $from-tablet-width) {
  body {
    background-image: url("../img/bg-hero.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    body {
      background-image: url("../img/bg-hero@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  body {
    background-image: url("../img/bg-hero-small.jpg");
    background-size: 912px auto;
    background-position: center 33px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    body {
      background-image: url("../img/bg-hero-small@2x.jpg");
    }
  }
}
