$mobile-width: 767px;
$from-tablet-width: 768px;
$tablet-width: 1023px;
$from-desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$black: #000000;
$white: #ffffff;
$yellow: #ffc341;
$lightblue: #1fc0fc;

$yellow-gradient: linear-gradient(108deg, #ffc341 20%, #ffd701 65%);
